<p class="notice"><%= notice %></p>

<%= breadcrumb(:league => @season.league, :season => @season) %>

<h2><%= @season.name %> - Leaderboard</h2>


<% @leaderboard.user_points.keys.each do |key| %>
  <%= key.email %> - <%= @leaderboard.user_points[key] %><br/>
<% end %>

