<p class="notice"><%= notice %></p>

<%= breadcrumb(:league => @season.league) %>

<h2><%= @season.name %></h2>

<h3><%= link_to "Leaderboard", :controller => "seasons", :action => "leaderboard" %></h3>

<p>
<b>Events:</b>
<ul>
  <% @season.events.sort { |a,b| a.time <=> b.time }.each do |event| %>
    <li><%= link_to event.name, event_path(event) %> - <%= event.time %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Add Event', new_event_path(:season_id => @season) %><p/>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
