<h1>Leagues</h1>

<table width="100%" cellpadding="5">
  <tr valign="top">
    <th>Name</th>
    <th>Type</th>
    <th>Skill</th>
    <th>Members</th>
    <th>Membership</th>
  </tr>

<% @leagues.each do |league| %>
  <tr valign="top">
    <td><%= link_to league.name, league%></td>
    <td><%= league.racing_type %></td>
    <td><%= league.skill_level %></td>
    <td><%= Member.count(:conditions => ["league_id = ?", league.id]) %>
    <td><%= league.membership %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a League', new_league_path %>
