<p>
<h2><%= @league.name %></h2>
</p>

<p>
  <%= @league.description %>
</p>

<p>
  <b>Game:</b>
  <%= @league.game.name %>
</p>

<%= link_to_if have_perm('create_season', @league.id), 
    "Create Season", new_league_season_path(@league) %><p/>

<p>
<b>Seasons:</b>
<ul>
  <% @league.seasons.each do |season| %>
    <li><%= link_to season.name, season_path(season) %></li>
  <% end %>
</ul>
</p>

<p>
<b>Members:</b>
<ul>
    <% @league.members.sort { |a,b| a.user.get_account(@league.game.platform).name.downcase <=> b.user.get_account(@league.game.platform).name.downcase }.each do |member| %>
    <li><%= link_to member.user.get_account(@league.game.platform).name, user_path(member.user) %></li>
  <% end %>
</ul>
</p>

<% if @can_join and @have_account then %>
  <%= form_for([@league, @league.members.build]) do |f| %>
    <div class="actions">
      <%= f.submit 'Join' %>
    </div>
  <% end %>
<% elsif not @have_account then %>
  <p>
  You must create a <%= @league.game.platform.name %> account before you can join this league.
  </p>
<% elsif @member %>
  <p>
  You are a member of this league.</p>
  <%= link_to 'Leave this league', [@member.league, @member], 
    :confirm => 'Are you sure you wish to leave this league?', 
    :method => :delete %><p/>
<% end %>


<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
