<%= render :partial => 'leagues/navbar', :locals => {:league => @league} %>

<h3>About</h3>
<p>
  <%= @league.description %>
</p>

<p>
<b>Type:</b> <%= @league.racing_type %><br/>
<b>Skill Level:</b> <%= @league.skill_level %><br/>
<b>Membership:</b> <%= @league.membership %><br/>
</p>

<% if @can_join and @have_account then %>
  <%= link_to 'Join This League', :controller => "leagues", :action => "join", :id => @league %>
<% elsif not @have_account then %>
  <p>
  You must create a <%= @league.game.platform.name %> account before you can join this league.
  </p>
<% elsif @member %>
  <p>
  You are a member of this league.</p>

  <!--
  <%= link_to 'Leave this league', [@member.league, @member], 
    :confirm => 'Are you sure you wish to leave this league?', 
    :method => :delete %><p/>
    -->
<% end %>


<%= link_to_if have_perm('edit_league', @league.id), 'Edit', edit_league_path(@league) %>
