<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @league.name %>
</p>

<p>
  <b>Description:</b>
  <%= @league.description %>
</p>

<p>
  <b>Members:</b>
  <%= @league.members %>
</p>

<p>
  <b>Users:</b>
  <%= @league.users %>
</p>

<!-- TODO -->
<%= link_to_if @can_join, "Join This League", leagues_path %><p/>

<p>
  <b>Seasons:</b>
  <%= @league.seasons %>
</p>

<%= link_to "Create Season", new_league_season_path(@league) %><p/>



<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
