<%= render :partial => 'leagues/navbar', :locals => {:league => @league} %>

<h3>About</h3>
<p>
  <%= @league.description %>
</p>

<p>
<b>Type:</b> <%= @league.racing_type %><br/>
<b>Skill Level:</b> <%= @league.skill_level %><br/>
<b>Membership:</b> <%= @league.membership %><br/>
</p>

<p>
<b>Members:</b><br/>
<i>Currently, all site members are being joined to every new league that is created for testing purposes. Eventually leagues will be able to optionally require approval to join.
<ul>
    <% @league.members.sort { |a,b| a.user.get_account(@league.game.platform).name.downcase <=> b.user.get_account(@league.game.platform).name.downcase }.each do |member| %>
    <li><%= link_to member.user.get_account(@league.game.platform).name, user_path(member.user) %></li>
  <% end %>
</ul>
</p>

<% if @can_join and @have_account then %>
  <%= form_for([@league, @league.members.build]) do |f| %>
    <div class="actions">
      <%= f.submit 'Join' %>
    </div>
  <% end %>
<% elsif not @have_account then %>
  <p>
  You must create a <%= @league.game.platform.name %> account before you can join this league.
  </p>
<% elsif @member %>
  <p>
  You are a member of this league.</p>

  <!--
  <%= link_to 'Leave this league', [@member.league, @member], 
    :confirm => 'Are you sure you wish to leave this league?', 
    :method => :delete %><p/>
    -->
<% end %>


<%= link_to_if have_perm('edit_league', @league.id), 'Edit', edit_league_path(@league) %>
