<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @league.name %>
</p>

<p>
  <b>Description:</b>
  <%= @league.description %>
</p>

<p>
  <b>Members:</b>
  <%= @league.members %>
</p>

<p>
  <b>Users:</b>
  <%= @league.users %>
</p>

<p>
  <b>Seasons:</b>
  <%= @league.seasons %>
</p>

<%= link_to "Create Season", new_league_season_path(@league) %><p/>

<% if @can_join then %>
  <%= form_for([@league, @league.members.build]) do |f| %>
    <div class="actions">
      <%= f.submit 'Join' %>
    </div>
  <% end %>
<% elsif @member %>
  You are a member of this league.<p/>
  <%= link_to 'Leave this league', [@member.league, @member], 
    :confirm => 'Are you sure you wish to leave this league?', 
    :method => :delete %><p/>
<% end %>


<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
