<p class="notice"><%= notice %></p>

<p>
<h2><%= @league.name %></h2>
</p>

<p>
  <%= @league.description %>
</p>

<%= link_to_if have_perm('create_season', @league.id), 
    "Create Season", new_league_season_path(@league) %><p/>

<p>
<b>Seasons:</b>
<ul>
  <% @league.seasons.each do |season| %>
    <li><%= link_to season.name, season_path(season) %></li>
  <% end %>
</ul>
</p>

<p>
<b>Members:</b>
<ul>
    <% @league.members.sort { |a,b| a.user.name.downcase <=> b.user.name.downcase }.each do |member| %>
    <li><%= link_to member.user.email, user_path(member.user) %></li>
  <% end %>
</ul>
</p>

<%= link_to_if(false, "Hi", "/") %>

<% if @can_join then %>
  <%= form_for([@league, @league.members.build]) do |f| %>
    <div class="actions">
      <%= f.submit 'Join' %>
    </div>
  <% end %>
<% elsif @member %>
  You are a member of this league.<p/>
  <%= link_to 'Leave this league', [@member.league, @member], 
    :confirm => 'Are you sure you wish to leave this league?', 
    :method => :delete %><p/>
<% end %>


<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
