<%= render :partial => 'leagues/navbar', :locals => {:league => @race.event.season.league} %>

<h2>Heat <%= @race.index %></h2>

<p>
  <b>Event:</b>
  <%= link_to league_event_path(@race.event.season.league, @race.event) %>
</p>

<p>
  <b>Time:</b>
  <%= @race.time %>
</p>

<p>
  <b>Host:</b>
<% if @race.host %>
  <%= link_to @race.host.get_account('psn').name, user_path(@race.host) %>
<% elsif have_perm('host_race', @race.event.season.league.id) %>
  This race still needs a host: <%= link_to 'Volunteer to Host', :controller => "races", :action => "host", :id => @race %>
<% end %>
</p>

<p>
  <b>Instructions:</b>
  <%= @race.event.instructions %>
</p>

<p>
<b>Users:</b>
<ul>
  <% @race.users.each do |user| %>
    <li><%= link_to user.get_account('psn').name, user_path(user) %></li>
  <% end %>
</ul>
</p>

<p>
<h2>Results</h2>
<p>Currently, only one set of results can be submitted. Eventually any user in the race will be able to submit results, and league admins will be responsible for assembling or approving the final results.</p>
<%= link_to_if @race.race_results.length == 0, 'Submit Results', new_race_result_path(:race_id => @race) %>
</p>
  <% @race.race_results.each do |result| %>
    <hr>
    <%= render :partial => 'race_results/show_inline',
        :locals => { :race_result => result, :league => @race.event.season.league} %>
    <hr>
  <% end %>
</p>

<p>

