<p class="notice"><%= notice %></p>

<h1><%= @race.event.season.league.name %> - TODO</h1>

<p>
  <b>Time:</b>
  <%= @race.time %>
</p>

<p>
  <b>Event:</b>
  <%= @race.event %>
</p>

<p>
  <b>Instructions:</b>
  <%= @race.instructions %>
</p>

<p>
  <b>Password:</b>
  <%= @race.password %>
</p>

<p>
<b>Users:</b>
<ul>
  <% @race.users.each do |user| %>
    <li><%= link_to user.name, user_path(user) %></li>
  <% end %>
</ul>
</p>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
