<p class="notice"><%= notice %></p>

<%= breadcrumb(:league => @race.event.season.league, :season => @race.event.season,
               :event => @race.event) %>

<h2>Heat <%= @race.index %></h2>

<p>
  <b>Time:</b>
  <%= @race.time %>
</p>

<p>
  <b>Instructions:</b>
  <%= @race.instructions %>
</p>

<p>
  <b>Password:</b>
  <%= @race.password %>
</p>

<p>
<b>Users:</b>
<ul>
  <% @race.users.each do |user| %>
    <li><%= link_to user.name, user_path(user) %></li>
  <% end %>
</ul>
</p>

<p>
<b>Results:</b>
<ul>
  <% @race.race_results.each do |result| %>
    <li><%= link_to result.user.name, race_result_path(result) %></li>
  <% end %>
</ul>
</p>

<p>
<%= link_to 'Submit Results', new_race_result_path(:race_id => @race) %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
