<p class="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= @round.time %>
</p>

<p>
  <b>Season:</b>
  <%= @round.season %>
</p>

<%= link_to 'Schedule Round', :controller => "rounds", :action => "schedule", :id => @round %><p/>


<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
