<h1><%= @user.name %></h1>
<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
<b>Accounts:</b>
<ul>
  <% @user.accounts.each do |account| %>
    <li><%= account.name %> (<%= account.platform.key %>)</li>
  <% end %>
</ul>

<p>
<b>Permissions:</b>
<ul>
  <% @user.permissions.each do |perm| %>
    <li><%= get_role(perm.role).key %> = <%= perm.qualifier %></li>
    <!--
    <ul>
      <% get_role(perm.role).rights.each do |right| %>
        <li><%= right %></li>
      <% end %>
    </ul>
    -->
  <% end %>
</ul>



<%= link_to_if have_perm('edit_user', @user.id), 
        'Edit', edit_user_path(@user) %> 
        <!--
<%= link_to_if have_perm('edit_user', @user.id), 
        'Add Account', new_user_account_path(@user) %> | 
        -->
