<p class="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
<b>Permissions:</b>
<ul>
  <% @user.permissions.each do |perm| %>
    <li><%= perm.role %> = <%= perm.qualifier %></li>
    <ul>
      <% get_role(perm.role).rights.each do |right| %>
        <li><%= right %></li>
      <% end %>
    </ul>
  <% end %>
</ul>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
