<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    Track:<br/>
    <%= f.collection_select :track_id, Track.where(["game_id = ?", @season.league.game.id]), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions %>
  </div>
  <div class="field">
    <!-- TODO: Really not sure this is the most railsy way to do this... -->
    <%= hidden_field_tag 'season_id', @season.id %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
