<%= form_for([@league, @event]) do |f| %>
  <% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    Name:<br/>
    <%= f.text_field :name, :size => 50 %>
  </div>

  <div class="field">
    Season:<br/>
    <%= f.collection_select :season_id, @seasons, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time, :minute_step => 5, :default => 7.days.from_now %>
  </div>

  <div class="field">
    Track:<br/>
    <%= f.collection_select :track_id, Track.where(["game_id = ?", @league.game.id]), :id, :name %>
  </div>

  <div class="field">
    Tires:<br/>
    <%= f.collection_select :tire_id, Tire.where(["game_id = ?", @league.game.id]).order(:name), :id, :name %>
  </div>

  <div class="field">
    Weather:<br/>
    <%= f.collection_select :weather_id, Weather.where(["game_id = ?", @league.game.id]).order(:name), :id, :name %>
  </div>

  <div class="field">
    Performance Points:<br/>
    <%= f.text_field :pp, :size => 4 %>
  </div>

  <div class="field">
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
