<%= render :partial => 'leagues/navbar', :locals => {:league => @league} %>

<h1>Events</h1>

<table width="100%">
  <tr>
    <th>Name</th>
    <th>Season</th>
    <th>Time</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, league_event_path(@league, event) %></td>
    <td><%= link_to event.season.name, season_path(event.season) %></td>
    <td><%= event.time %></td>
    <td><%= link_to 'Edit', edit_league_event_path(@league, event) %></td>
    <td><%= link_to 'Destroy', league_event_path(@league, event), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_league_event_path(@league) %>
