<p class="notice"><%= notice %></p>

<%= breadcrumb(:league => @event.season.league, :season => @event.season) %>

<h2><%= @event.name %></h2>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
<b>Races:</b>
<ul>
  <% @event.races.each do |race| %>
    <li><%= link_to "Heat %s" % race.index.to_s, race_path(race) %></li>
  <% end %>
</ul>
</p>


<%= link_to_if @event.races.length == 0, 'Schedule Event', 
  :controller => "events", :action => "schedule", :id => @event %><p/>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
