<%= breadcrumb(:league => @event.season.league, :season => @event.season) %>

<h2>Event: <%= @event.name %></h2>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Track:</b>
  <%= @event.track.name %>
</p>

<p>
  <b>Tires:</b>
  <%= @event.tire.name unless @event.tire.nil? %>
</p>

<p>
  <b>Weather:</b>
  <%= @event.weather.name unless @event.weather.nil? %>
</p>

<p>
  <b>Performance Points:</b>
  <%= @event.pp %>
</p>

<p>
  <b>Instructions:</b>
  <%= @event.instructions %>
</p>

<p>
<b>Races:</b>
<ul>
  <% @event.races.each do |race| %>
    <li><%= link_to "Heat %s" % race.index.to_s, race_path(race) %></li>
  <% end %>
</ul>
</p>


<%= link_to_if @event.races.length == 0, 'Schedule Event', 
  :controller => "events", :action => "schedule", :id => @event %>: This will split the field up into individual races. Eventually this will be scheduled automatically. Currently all league members are assumed to be participating, this will eventually be on an opt-in basis for each event.<p/>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
