<%= render :partial => 'leagues/navbar', :locals => {:league => @league} %>

<h2>Event: <%= @event.name %></h2>

<p><%= link_to "Register", :controller => 'events', :action => :register if @registration_message.nil? %><br/>
<%= @registration_message if not @registration_message.nil? %>
<%= link_to "Unregister", :controller => 'events', :action => :unregister if @registered %></p>

<p>
<%= link_to "Auto-register Entire League", :controller => "events", :action => "register_entire_league", :id => @event.id %>
</p>

  <% if @event.races.length == 0 and have_perm('schedule_event', @league.id) %>
    <%= link_to 'Schedule Event', :controller => "events", :action => "schedule", 
        :id => @event %>: WARNING: This will close registration, split the field into races, and allow race hosts to be assigned.<p/>
  <% end %>

  <% if have_perm('send_reminder', @league.id) %>
    <%= link_to 'Send E-Mail Reminder', :controller => "events", 
      :action => "send_reminder", :id => @event %>: Once the event is scheduled, and all races have been assigned a host, you can send an email to all registrants for this event. Be careful not to do this more than once, people may not like it. :) Eventually this will be part of a scheduled job and happen automatically.<p/>
  <% end %>


<p>
  <b>Season:</b>
  <%= link_to @event.season.name, league_season_path(@event.season.league, @event.season) %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %><br/>
  <b>Track:</b>
  <%= @event.track.name %><br/>
  <b>Tires:</b>
  <%= @event.tire.name unless @event.tire.nil? %><br/>
  <b>Weather:</b>
  <%= @event.weather.name unless @event.weather.nil? %><br/>
  <b>Laps:</b>
  <%= @event.laps %><br/>
  <b>Qualification (minutes):</b>
  <%= @event.quali_mins %><br/>

  <b>Max Horsepower:</b>
  <%= @event.power %><br/>
  <b>Min Weight:</b>
  <%= @event.weight %><br/>
</p>

<p>
  <b>Instructions:</b>
  <%= @event.instructions %>
</p>

<p>
<b>Registrants:</b>
  <% @event.registrants.each do |reg| %>
    <%= link_to reg.member.account.name, user_path(reg.member.user.id) %>
  <% end %>
</p>

<p>
<b>Races:</b>
<% @event.races.each do |race| %>
  <hr/>
  <%= render :partial => 'races/show_inline', :locals => {:race => race} %>
<% end %>
</p>


  <%= link_to_if have_perm('edit_event', @league.id), 'Edit', 
    edit_league_event_path(@league, @event) %>
