<%= render :partial => 'leagues/navbar', :locals => {:league => @league} %>

<%= form_for(@race_result) do |f| %>
  <% if @race_result.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@race_result.errors.count, "error") %> prohibited this race_result from being saved:</h2>
    <ul>
    <% @race_result.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= hidden_field_tag 'race_id', @race.id %><br />
  </div>

  <h2>Results</h2>

  <p>
  NOTE: Reporting race time is optional. If you choose to include it, it should be formated like these examples: 1:29:15.081, 15:29.003, 12:39, etc.</p>

      <%= f.fields_for :rows do |row_form| %>  
        <div class="field">  
          <%= row_form.label :position, 'Position: ' %>
          <%= row_form.text_field :position, :size => 2 %>
          <%= row_form.collection_select(:user_id, @race.users, :id, :psn_account_name) %>
          <%= row_form.select :status, @valid_status %>
          Time: <%= row_form.text_field :time, :size => 15 %> 
        </div>  
      <% end %> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
