<!DOCTYPE html>
<html>
<head>
  <title>GT:FTW</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

    <center>
        <%= link_to "Home", "/" %>
        <%= link_to "Leagues", leagues_path %>
        <%= link_to "Seasons", seasons_path %>
        <%= link_to "Rounds", rounds_path %>
        <%= link_to "Users", users_path %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Login", "/login" %>
        <%= link_to "Logout", "/logout" %>
    </center>

    Logged in as: <%= session[:user_id] %>

<%= yield %>

</body>
</html>
