<%= render :partial => 'leagues/navbar', :locals => {:league => @league} %>

<h2>Members</h2>

<p>
Currently, all site members are being joined to every new league that is
created for testing purposes. Eventually leagues will be able to optionally
require approval to join.
</p>

<table width="100%">
  <tr>
    <th>Member</th>
    <th>Location</th>
    <th>Roles</th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= link_to member.account.name, member.user %></td>
    <td><%= member.user.location %></td>
    <td><%= show_league_perms(@league, member.user) %></td>
    <td>
      <% if have_perm('grant_roles', @league.id) %>
        <%= render :partial => 'permissions/form', :locals => {
          :user => member.user, :qualifier => @league.id, :roles => @roles_to_grant} %>
      <% end %>
    </td>

  </tr>
<% end %>
</table>

<br />
