<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>User:</b>
  <%= @account.user %>
</p>

<p>
  <b>Platform:</b>
  <%= @account.platform %>
</p>

<p>
  <b>Verified:</b>
  <%= @account.verified %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
